.Rproj.user
.Rhistory
.RData
.Ruserdata
home.Rproj
.Rprofile
example_inputs/.DS_Store
.DS_Store
.bash_history
example_inputs/merged_metaphlan_v4-0-6.txt
example_inputs/fecal_scfas.csv
*.tsv
example_inputs/ERAWIJANTARI/ERAWIJANTARI.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI.RData
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_1.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_2.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_3.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_4.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_5.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_6.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_level_7.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_MD1.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_MD1_no_sf.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_no_sf.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARI_old_hfe_label.txt
example_inputs/ERAWIJANTARI/ERAWIJANTARI_old_hfe_otu.txt
example_inputs/ERAWIJANTARI/ERAWIJANTARI_old_hfe_taxa.txt
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1.txt
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1_input.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1_metadata.csv
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1_plot.pdf
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1_taxa_list.txt
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1_taxa_list_no_sf.txt
example_inputs/ERAWIJANTARI/ERAWIJANTARIv1no_sf.txt
example_inputs/ERAWIJANTARI/Final_feature_set_70.csv
example_inputs/ERAWIJANTARI/Final_feature_set_95.csv
example_inputs/ERAWIJANTARI/hfe_algorithm_70.py
example_inputs/ERAWIJANTARI/hfe_algorithm_95.py
example_inputs/FRANZOSA/Final_feature_set_70.csv
example_inputs/FRANZOSA/Final_feature_set_95.csv
example_inputs/FRANZOSA/FRANZOSA.csv
example_inputs/FRANZOSA/FRANZOSA.RData
example_inputs/FRANZOSA/FRANZOSA_level_1.csv
example_inputs/FRANZOSA/FRANZOSA_level_2.csv
example_inputs/FRANZOSA/FRANZOSA_level_3.csv
example_inputs/FRANZOSA/FRANZOSA_level_4.csv
example_inputs/FRANZOSA/FRANZOSA_level_5.csv
example_inputs/FRANZOSA/FRANZOSA_level_6.csv
example_inputs/FRANZOSA/FRANZOSA_level_7.csv
example_inputs/FRANZOSA/FRANZOSA_MD1.csv
example_inputs/FRANZOSA/FRANZOSA_MD1_no_sf.csv
example_inputs/FRANZOSA/FRANZOSA_no_sf.csv
example_inputs/FRANZOSA/FRANZOSA_old_hfe_label.txt
example_inputs/FRANZOSA/FRANZOSA_old_hfe_otu.txt
example_inputs/FRANZOSA/FRANZOSA_old_hfe_taxa.txt
example_inputs/FRANZOSA/FRANZOSAv1.txt
example_inputs/FRANZOSA/FRANZOSAv1_input.csv
example_inputs/FRANZOSA/FRANZOSAv1_metadata.csv
example_inputs/FRANZOSA/FRANZOSAv1_plot.pdf
example_inputs/FRANZOSA/FRANZOSAv1_taxa_list.txt
example_inputs/FRANZOSA/FRANZOSAv1_taxa_list_no_sf.txt
example_inputs/FRANZOSA/FRANZOSAv1no_sf.txt
example_inputs/FRANZOSA/hfe_algorithm_70.py
example_inputs/FRANZOSA/hfe_algorithm_95.py
example_inputs/hfe_algorithm_70.py
example_inputs/hfe_algorithm_95.py
example_inputs/iHMP/Final_feature_set_70.csv
example_inputs/iHMP/Final_feature_set_95.csv
example_inputs/iHMP/hfe_algorithm_70.py
example_inputs/iHMP/hfe_algorithm_95.py
example_inputs/iHMP/iHMP.csv
example_inputs/iHMP/iHMP.RData
example_inputs/iHMP/iHMP_level_1.csv
example_inputs/iHMP/iHMP_level_2.csv
example_inputs/iHMP/iHMP_level_3.csv
example_inputs/iHMP/iHMP_level_4.csv
example_inputs/iHMP/iHMP_level_5.csv
example_inputs/iHMP/iHMP_level_6.csv
example_inputs/iHMP/iHMP_level_7.csv
example_inputs/iHMP/iHMP_MD1.csv
example_inputs/iHMP/iHMP_MD1.RData
example_inputs/iHMP/iHMP_MD1_no_sf.csv
example_inputs/iHMP/iHMP_no_sf.csv
example_inputs/iHMP/iHMP_old_hfe_label.txt
example_inputs/iHMP/iHMP_old_hfe_otu.txt
example_inputs/iHMP/iHMP_old_hfe_taxa.txt
example_inputs/iHMP/iHMPv1.txt
example_inputs/iHMP/iHMPv1_input.csv
example_inputs/iHMP/iHMPv1_metadata.csv
example_inputs/iHMP/iHMPv1_plot.pdf
example_inputs/iHMP/iHMPv1_taxa_list.txt
example_inputs/iHMP/iHMPv1_taxa_list_no_sf.txt
example_inputs/iHMP/iHMPv1no_sf.txt
example_inputs/input_file_relabund.txt
example_inputs/MARS/Final_feature_set_70.csv
example_inputs/MARS/Final_feature_set_95.csv
example_inputs/MARS/hfe_algorithm_70.py
example_inputs/MARS/hfe_algorithm_95.py
example_inputs/MARS/MARS.csv
example_inputs/MARS/MARS.RData
example_inputs/MARS/MARS_level_1.csv
example_inputs/MARS/MARS_level_2.csv
example_inputs/MARS/MARS_level_3.csv
example_inputs/MARS/MARS_level_4.csv
example_inputs/MARS/MARS_level_5.csv
example_inputs/MARS/MARS_level_6.csv
example_inputs/MARS/MARS_level_7.csv
example_inputs/MARS/MARS_MD1.csv
example_inputs/MARS/MARS_MD1.RData
example_inputs/MARS/MARS_MD1_no_sf.csv
example_inputs/MARS/MARS_no_sf.csv
example_inputs/MARS/MARS_old_hfe_label.txt
example_inputs/MARS/MARS_old_hfe_otu.txt
example_inputs/MARS/MARS_old_hfe_taxa.txt
example_inputs/MARS/MARSv1.txt
example_inputs/MARS/MARSv1_input.csv
example_inputs/MARS/MARSv1_metadata.csv
example_inputs/MARS/MARSv1_plot.pdf
example_inputs/MARS/MARSv1_taxa_list.txt
example_inputs/MARS/MARSv1_taxa_list_no_sf.txt
example_inputs/MARS/MARSv1no_sf.txt
example_inputs/metadata_LBP_quartile.txt
example_inputs/OLIVER/Final_feature_set_70.csv
example_inputs/OLIVER/Final_feature_set_95.csv
example_inputs/OLIVER/hfe_algorithm_70.py
example_inputs/OLIVER/hfe_algorithm_95.py
example_inputs/OLIVER/OLIVER.csv
example_inputs/OLIVER/OLIVER.RData
example_inputs/OLIVER/OLIVER_level_1.csv
example_inputs/OLIVER/OLIVER_level_2.csv
example_inputs/OLIVER/OLIVER_level_3.csv
example_inputs/OLIVER/OLIVER_level_4.csv
example_inputs/OLIVER/OLIVER_level_5.csv
example_inputs/OLIVER/OLIVER_level_6.csv
example_inputs/OLIVER/OLIVER_level_7.csv
example_inputs/OLIVER/OLIVER_level_8.csv
example_inputs/OLIVER/OLIVER_MD1.csv
example_inputs/OLIVER/OLIVER_MD1.RData
example_inputs/OLIVER/OLIVER_MD1_no_sf.csv
example_inputs/OLIVER/OLIVER_no_sf.csv
example_inputs/OLIVER/OLIVER_old_hfe_label.txt
example_inputs/OLIVER/OLIVER_old_hfe_otu.txt
example_inputs/OLIVER/OLIVER_old_hfe_otuRA.txt
example_inputs/OLIVER/OLIVER_old_hfe_taxa.txt
example_inputs/OLIVER/OLIVER_old_hfe_taxa7.txt
example_inputs/OLIVER/OLIVERv1.txt
example_inputs/OLIVER/OLIVERv1_input.csv
example_inputs/OLIVER/OLIVERv1_metadata.csv
example_inputs/OLIVER/OLIVERv1_plot.pdf
example_inputs/OLIVER/OLIVERv1_taxa_list.txt
example_inputs/OLIVER/OLIVERv1_taxa_list_no_sf.txt
example_inputs/OLIVER/OLIVERv1no_sf.txt
example_inputs/WANG/Final_feature_set_70.csv
example_inputs/WANG/Final_feature_set_95.csv
example_inputs/WANG/hfe_algorithm_70.py
example_inputs/WANG/hfe_algorithm_95.py
example_inputs/WANG/WANG.csv
example_inputs/WANG/WANG.RData
example_inputs/WANG/WANG_level_1.csv
example_inputs/WANG/WANG_level_2.csv
example_inputs/WANG/WANG_level_3.csv
example_inputs/WANG/WANG_level_4.csv
example_inputs/WANG/WANG_level_5.csv
example_inputs/WANG/WANG_level_6.csv
example_inputs/WANG/WANG_level_7.csv
example_inputs/WANG/WANG_MD1.csv
example_inputs/WANG/WANG_MD1.RData
example_inputs/WANG/WANG_MD1_no_sf.csv
example_inputs/WANG/WANG_no_sf.csv
example_inputs/WANG/WANG_old_hfe_label.txt
example_inputs/WANG/WANG_old_hfe_otu.txt
example_inputs/WANG/WANG_old_hfe_taxa.txt
example_inputs/WANG/WANGv1.txt
example_inputs/WANG/WANGv1_input.csv
example_inputs/WANG/WANGv1_metadata.csv
example_inputs/WANG/WANGv1_plot.pdf
example_inputs/WANG/WANGv1_taxa_list.txt
example_inputs/WANG/WANGv1_taxa_list_no_sf.txt
example_inputs/WANG/WANGv1no_sf.txt
example_inputs/hfe_comparisons_v2.csv
example_inputs/tmp_collect.txt
example_inputs/playground.R
example_inputs/Butyrate/merged_metaphlan_v4-0-6.txt
example_inputs/Butyrate/fecal_scfas.csv
example_inputs/Butyrate/_no_sf.csv
